*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
/*.hidden{*/
/*    display:none;*/
/*}*/
.loading{
    display: block;
    margin: auto;
}
.poster{
    width: 34%;
}
.picture{
    width:100%;
}
#poster-img{
    width: 100%;
}
.information{
    width:66%;
}
#all-movie{
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow:auto;
}
.li-img{
    max-width: 80px;
}
.li1{
    width:15%;
}
.li{
    width: 28%;
}

.delete {
    max-height: 25px;
    max-width: 25px;
}